.App {
  text-align: center;
}
html {
  background-color: rgb(81, 87, 151) !important;
}
#root {
  background-color: rgb(81, 87, 151) !important;
}
a {
  text-decoration: none;
  color: #f2f2f2;
}
#balance {
  font-size: 0.6em !important;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-radius: 7px;
  padding: 7px;
  position: absolute;
  left: 90%;
}
.Header {
  text-align: center;
  background-color: rgb(88, 93, 88);
  height: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.navBar {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  position: sticky;
  display: flex;
  justify-content: center;
  z-index: 2000;
  top: 0;
}
.navitems {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 25%;
  color: #f2f2f2;
  padding: 14px 10%;
}
.navBar .navitems:hover {
  background-color: #562d60;
  color: white;
}
#navitems {
  display: flex;
  justify-content: stretch;
  border: 5px solid red;
  overflow: hidden;
}
#questionlist {
  list-style: none;
}
.questionbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  padding-left: 0.5%;
  padding-right: 0.5%;
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 2em;
}
.questionbox a {
  all: unset;
  color: white;
}

.questionbox:hover {
  border: solid grey;
  border-width: 5px;
  cursor: pointer;
}
.questiondata {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#addquestion {
  background-color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: larger;
  color: #f2f2f2;
  border-radius: 70px;
  cursor: pointer;
  border: 2px solid black;
  height: 20vh;
  width: 30vh;
  margin: 10vh;
}
#addquestion:hover {
  background-color: #562d60;
  color: white;
}

.ratingbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  max-width: min-content;
}
.vote {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #687074;
}

.vote :hover {
  stroke: #f48024;
}

.vote .clicked {
  color: #f48024;
}

.form {
  background-color: rgb(81, 87, 151);
  padding-top: 3em;
}
